#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#score{
    font-family: cursive;
    font-size: 50px;
}
h1{
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background-image: url("./snake.png");
    background-size: cover;
}
#resetBtn{
    border: 2px solid black;
    border-radius: 15%;
    font-family: cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    background-color: red;
    color: white;
}
#resetBtn:hover{
    background-color: #ff645c;
    color: white;
}
